@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Hi+Melody&family=Jua&family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap');
html,body,h1,h2,h3,h4,h5,h6,
p,div,ol,ul,li,dl,dt,dd,address,blockquote,video,
em,strong,span,sup,sub,del,s,q,a,img,
table,thead,tbody,tfoot,th,tr,td,
form,fieldset,legend,input,select,option,button,textarea,label,optgroup,
header,main,footer,nav,section,article,aside,figure,figcaption,details {
    /* font-family: 'Dokdo', cursive;
    font-family: 'Hi Melody', cursive;
    font-family: 'Jua', sans-serif;
    font-family: 'Nanum Brush Script', cursive; */
    font-family: 'Nanum Gothic', sans-serif;
}
main {
    width: 1200px;
    margin: 0 auto;
}

main #title {
    text-align: center;
    margin-top: 50px;
}

main #title h1 {
    background-image:url(../img/ie9_logo.png);
    font-size: 8rem;
    background-size: contain;
    height:300px;
}

main #team_profile {
    display: flex;
    justify-content: center;
}

main #team_profile .t_card {
    position: relative;
    margin-right: 10px;
}

main #team_profile .t_card .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main #team_profile .t_card .txt_box p {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}

main #team_profile .t_card .txt_box p:first-child {
    margin-bottom: 10px;
}

main #team_profile .t_card .txt_box p:last-child {}

main #team_profile a img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main #team_profile {
    margin: 50px;
}

main #team_profile .c_1 {}

main #team_profile .c_1 img {}

main #team_profile .c_2 {}

main #team_profile .c_2 img {}

main #team_profile .c_3 {}

main #team_profile .c_3 img {}

main #team_profile .c_4 {}

main #team_profile .c_4 img {}

main #team_profile .c_5 {}

main #team_profile .c_5 img {}

main #info {}

main #info>ul {}

main #info>ul .open_btn {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}
main #info>ul .close_btn {
    width: 800px;
    margin: 50px auto;
    display: none;
    justify-content: space-between;
}

main #info>ul .open_btn span {font-size:15px;}

main #info>ul .close_btn span {font-size:15px;}

main #info>ul .open_list {display:none;}

main #info>ul .open_list p {
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
}
main #info>ul .open_list p span {color:rgb(255, 0, 212); font-size:2.5rem;
    line-height: 1.8; font-weight:700;}
main #info>ul .open_list p strong {color:rgb(0, 8, 255); font-size:2.5rem;
    line-height: 1.8;font-weight:700;}
main #info>ul .open_list p em {font-size:2rem; line-height:1.8; color:#f00;font-weight:700;}
main #info>ul .open_btn button {}

main #info>ul .open_btn button img {}

main #info>ul li {}

main #info>ul li ul {}

.write_box {
    text-align: right;
    /* background-color:pink; */
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 20px;
}

main #info>ul li ul .write_box input[type=text] {
    width: 500px;
    /* background-color:aqua; */
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
}

.w_b_btn {
    margin: 10px;
}


main #info>ul li ul .box {
    width: 500px;
    background-color: aqua;
    margin: 50px auto;
}

main #info>ul li ul .box p {}

main #info>ul li ul .box p:first-child {
    margin-bottom: 15px;
}

main #info>ul li ul .b_1 {}

main #info>ul li ul .b_2 {}

main #info>ul li ul .b_3 {}

main #info>ul li ul .b_4 {}

/* 방명록할거면 어팬드해야하니깐 이부분은 그때지우면될거같습니다. */