<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- RESET CSS -->
    <link rel="stylesheet" href="static/css/reset.css">


    <!-- 부트스트랩 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- AJAX CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="static/css/styles.css" />
    <title>IE9 Team - 최진규</title>

    <script>
        // 방명록 
        function save_comment() {
            let nickname = $('#nickname').val()
            let comment = $('#comment').val()

            let formData = new FormData();
            formData.append("nickname_give", nickname);
            formData.append("comment_give", comment);
            formData.append("member_name_give", '최진규');

            fetch('/writegb', { method: "POST", body: formData, })
                .then((res) => res.json())
                .then((data) => {
                    alert(data["msg"]);
                    window.location.reload()
                });
        }
        function show_comment() {
            let member_name = '최진규'
            formData = new FormData();
            formData.append("member_name_give", member_name);

            fetch('/guestbookmem', { method: "POST", body: formData, })
                .then((res) => res.json())
                .then((data) => {
                    let rows = data['result']
                    console.log(rows)
                    $('#comment-list').empty()
                    let member_name = rows['member_name']

                    rows.forEach((a) => {
                        let nickname = a['nickname']
                        let comment = a['comment']

                        console.log(member_name)

                        let temp_html = `
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>${comment}</p>
                            <footer class="blockquote-footer">${nickname}</footer>
                        </blockquote>
                    </div>
                </div>
            `

                        $('#comment-list').append(temp_html)


                    })

                })
        }
        $(document).ready(function () {
            show_comment()
        });
    </script>
</head>

<body>
    <main id="detail_main">
        <h1>최진규</h1>
        <div id="all_info_box">
            <div class="all_box">
                <div class="image_box">
                    <img class="image"
                        src="https://platum.kr/wp-content/uploads/2019/12/64497335_490811004989301_7459130390851092480_n.png">
                </div><!-- e:image_box -->
                <div class="p_info">
                    <p class="blog">블로그 : <a href="https://kyuparfum.tistory.com/">https://kyuparfum.tistory.com/</a>
                    </p>
                    <p class="email">이메일 : <a href="kyuparfum@naver.com">kyuparfum@naver.com</a></p>
                    <div class="qr_code"></div>
                    <p class="mbti">MBTI: <span>INFP</span></p>
                </div><!-- e:p_info -->
            </div><!-- e:all_box -->
            <dl class="profile">
                <dt>자기소개</dt>
                
                    <div>
                        안녕하세요. 최진규입니다.<br>
                        잘 부탁드리겠습니다.<br>
                        팀 프로젝트 좋아합니다 누군가와 함께 협업해서 성취하는 걸 즐깁니다.<br>
                        원래 조향사를 고등학생 때부터 꿈꿔서 하다가 1년 정도 휴식기를 가졌는데 그러면서<br>
                        자연스럽게 코딩을 접했습니다.<br>
                        이게 또 흥미가 생기고 그러면서 직종 변경까지 하게 됐습니다.<br>
                        잘하는 건 꾸준히 한결같은 거라서 아마 완주하지 않을까 생각합니다.<br>
                    </div>
                
            </dl><!-- e:profile -->
        </div><!-- e:all_info_box -->

        <div class="write_box">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="nickname" placeholder="닉네임" style="margin-bottom: 10px;">
                <label for="floatingInput">닉네임</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="방명록을 남겨주세요" id="comment" style="height: 100px"></textarea>
                <label for="floatingTextarea2">방명록</label>
            </div>
            <div class="w_b_btn">
                <button type="button" class="btn btn-outline-success" onclick="save_comment()">입력하기</button>
            </div><!-- e:w_b_btn -->
        </div><!-- e:write_box -->
        <div class="mycards" id="comment-list" style="padding: 20px;">
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>